[submodule "simutrans"]
	path = simutrans
	url = https://github.com/128na/simutrans.git
[submodule "simutrans-dat-parser"]
	path = simutrans-dat-parser
	url = https://github.com/128na/simutrans-dat-parser.git
[submodule "simutrans-image-merger"]
	path = simutrans-image-merger
	url = https://github.com/128na/simutrans-image-merger.git
[submodule "simutrans-image-util"]
	path = simutrans-image-util
	url = https://github.com/128na/simutrans-image-util.git
[submodule "simutrans-dat-linter"]
	path = simutrans-dat-linter
	url = https://github.com/128na/simutrans-dat-linter.git
[submodule "pak128"]
	path = pak128
	url = https://github.com/simutrans/pak128.git
